---
interface Props {
  t: Record<string, string>;
}

const { t } = Astro.props;
---

<div class="text-center">
  <h2 class="text-3xl font-semibold text-gray-900">Get Involved</h2>
  <p class="mt-4 text-lg text-gray-500">
    Whether you're looking to attend an event, share your expertise, or support
    the community, we’d love to have you involved.
  </p>
  <p class="mt-4 text-lg text-gray-500">
    For more information, contact us at <a
      href="mailto:info@mobileheads.at"
      class="text-blue-500 hover:text-blue-700">info@mobileheads.at</a
    >.
  </p>
</div>
