---
import Image from "@/components/Image.astro";
import Button from "@components/ui/Button.astro";
import Hero2 from "@components/ui/Hero2.astro";
import Stats from "@components/ui/Stats.astro";
import FAQs from "./FAQs.astro";
import Features3 from "./Features3.astro";
const appStoreImg = "~/assets/images/app-store.png";
const appStoreDownloadLink = "https://github.com/onwidget/astrowind";

const googlePlayImg = "~/assets/images/google-play.png";
const googlePlayDownloadLink = "https://github.com/onwidget/astrowind";
---

<!-- <Hero
  tagline="Lead Generation Landing Demo"
  title="Effective Lead Generation Landing Page: Unlock the Secrets"
  subtitle="Discover the secrets to creating a Landing Page that turns curious visitors into eager leads. (Your Hero should grab attention instantly. Use a powerful headline that speaks directly to your target audience.)"
  actions={[
    {
      variant: "primary",
      text: "Call to Action",
      href: "#",
      icon: "tabler:square-rounded-arrow-right",
    },
    { text: "Learn more", href: "#" },
  ]}
  image={{
    src: "https://images.unsplash.com/photo-1597423498219-04418210827d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80",
    alt: "Magnet attracting screws. Lead generation landing page demo",
  }}
/> -->
<Hero2
  tagline="Long-form Sales Demo"
  title="Long-form Sales: Sell with a Story: The Long-form Way!"
  subtitle="Dive deep into crafting a Landing Page that narrates, persuades, and converts."
  actions={[
    {
      variant: "primary",
      text: "Call to Action",
      href: "#",
      icon: "tabler:square-rounded-arrow-right",
    },
    { text: "Learn more", href: "#" },
  ]}
  image={{
    src: "https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80",
    alt: "Children telling a story. Long-form Sales Landing Page demo",
  }}
/>

<Hero2
  tagline="Mobile App Web Demo"
  image={{
    src: "https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80",
    alt: "AstroWind Hero Image",
  }}
>
  <Fragment slot="title">
    <span class="text-accent dark:text-white highlight">AstroWind App</span>: <br
    /> professional websites <span class="hidden xl:inline">made easy</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      Unlock boundless creativity at your fingertips: your gateway to innovative
      design.
    </span>
    Download now and embark on a journey to elevate your projects like never before.
  </Fragment>

  <div slot="actions" class="flex max-w-sm gap-4">
    <Button variant="link" href={appStoreDownloadLink}>
      <Image src={appStoreImg} alt="App Store Image" width={200} />
    </Button>

    <Button variant="link" href={googlePlayDownloadLink}>
      <Image src={googlePlayImg} alt="Google Play Image" width={200} />
    </Button>
  </div>
</Hero2>

<!-- Features3 Widget ************** -->

<Features3
  id="features"
  title="How to use our app?"
  subtitle="Tired of spending hours crafting documents from scratch? Our app offers an innovative solution. With a wide array of professionally designed templates, you can now create stunning documents in minutes. Explore our templates now and experience the difference."
  tagline="Step-by-step guide"
  columns={2}
  items={[
    {
      title: "Download and install the app",
      description: `Begin your journey by downloading our user-friendly app from your device's app store or our official website.`,
      icon: "tabler:square-number-1",
    },
    {
      title: "Sign up",
      description:
        "Create your account by providing the necessary information, enabling you to access our full range of features.",
      icon: "tabler:square-number-2",
    },
    {
      title: "Browse templates",
      description:
        "Explore our diverse collection of website templates, categorized for easy navigation.",
      icon: "tabler:square-number-3",
    },
    {
      title: "Preview and select a template",
      description: `Visualize the potential of each template through previews, then choose the one that aligns best with your project's needs.`,
      icon: "tabler:square-number-4",
    },
  ]}
  image={{
    src: "https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80",
    alt: "Colorful Image",
  }}
/>

<Stats
  title="Statistics about us"
  stats={[
    { title: "Offices", amount: 4 },
    { title: "Employees", amount: 248 },
    { title: "Templates", amount: 12 },
    { title: "Awards", amount: 24 },
  ]}
/>

<Stats
  title="Statistics of our app"
  stats={[
    { amount: "20K", icon: "tabler:download" },
    { amount: "18.5K", icon: "tabler:users" },
    { amount: "4.7", icon: "tabler:user-star" },
  ]}
/>

<FAQs
  title="Frequently Asked Questions"
  subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
  tagline="FAQs"
  classes={{ container: "max-w-6xl" }}
  items={[
    {
      title: "Why AstroWind?",
      description:
        "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
    },
    {
      title: "What do I need to start?",
      description:
        "Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.",
    },
    {
      title: "How to install the Astro + Tailwind CSS template?",
      description:
        "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
    },
    {
      title: "What's something that you don't understand?",
      description:
        "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
    },
    {
      title: "What is something that you would like to try again?",
      description:
        "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
    },
    {
      title:
        "If you could only ask one question to each person you meet, what would that question be?",
      description:
        "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
    },
  ]}
/>
