---
interface Props {
  t: Record<string, string>;
}

const { t } = Astro.props;
---

<div class="mt-12 text-center">
  <h2 class="text-3xl font-semibold text-gray-900">Our Philosophy</h2>
  <p class="mt-4 text-lg text-gray-500">
    We believe in the power of collaboration and knowledge sharing. At
    Mobileheads Austria, we are committed to fostering a supportive environment
    where developers and designers can grow, innovate, and build meaningful
    connections. Our focus is on creating opportunities for learning,
    mentorship, and hands-on experience to empower our members and shape the
    future of mobile development.
  </p>
</div>
