---
import type { Brands as Props } from "@/types";
import { Icon } from "astro-icon/components";

import Image from "@/components/Image.astro";
const {
  title = "",
  subtitle = "",
  tagline = "",
  icons = [],
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
} = Astro.props;
---

<div class="max-w-6xl">
  <div class="text-left my-4">
    <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl">
      {title}
    </h1>
    <p class="mt-4 text-xl text-gray-500">
      {subtitle}
    </p>
  </div>

  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      icons &&
        icons.map((icon) => (
          <Icon
            name={icon}
            class="py-3 lg:py-5 w-24 h-auto mx-auto sm:mx-0 text-gray-500"
          />
        ))
    }
    {
      images &&
        images.map(
          (image) =>
            image.src && (
              <div class="flex justify-center col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200">
                <Image
                  src={image.src}
                  alt={image.alt || ""}
                  class="max-h-24"
                  width={120}
                  height={48}
                  layout="fixed"
                />
              </div>
            )
        )
    }
  </div>
</div>
