---
import { defaultLang, languages } from "@utils/i18n";
import { createLocalizedPath, getCurrentLang } from "../utils/navigation";

interface Props {
  currentLang: string;
  currentPath: string;
}

const { currentLang, currentPath } = Astro.props;
---

<div class="language-picker">
  <select
    class="block w-full"
    onchange="window.location.href=this.value"
    value={currentLang}
  >
    {
      languages.map((lang) => (
        <option
          value={createLocalizedPath(lang.code, currentPath)}
          selected={lang.code === currentLang}
        >
          {lang.flag} {lang.label}
        </option>
      ))
    }
  </select>
</div>

<style>
  .language-picker select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
    cursor: pointer;
    color: black;
  }

  .language-picker select option:checked {
    color: black;
    font-weight: bold;
  }

  .language-picker ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .language-picker li {
    cursor: pointer;
  }

  .language-picker li.active a {
    font-weight: bold;
  }
</style>
