---
import type { Taxonomy } from "@/types";
import { isBlogTagRouteEnabled } from "@utils/blog";
import { getPermalink } from "@utils/permalinks";

type Props = {
  tag: Taxonomy;
};

const { tag } = Astro.props;
---

<a
  href={isBlogTagRouteEnabled ? getPermalink(tag.slug, "tag") : "#"}
  target="_self"
  class="px-2.5 py-1 rounded-lg text-xs text-red-600 font-medium bg-red-50/80 capitalize"
>
  {tag.title}
</a>
