---
import "@/assets/styles/tailwind.css";
import CommonMeta from "@components/common/CommonMeta.astro";
import Metadata from "@components/common/Metadata.astro";
import Favicons from "@components/Favicons.astro";

import type { MetaData as MetaDataType } from "@/types";
import Analytics from "@components/common/Analytics.astro";
import BasicScripts from "@components/common/BasicScripts.astro";
import CustomStyles from "@components/common/CustomStyles.astro";
import { defaultLang, i18n, languages, tr } from "@utils/i18n";
import { getCurrentLang } from "@utils/navigation";

export interface Props {
  title?: string;
  metadata?: MetaDataType;
}

const { metadata = {}, title } = Astro.props;
const { language, textDirection } = i18n;

const currentPath = Astro.url.pathname;
const lang = getCurrentLang(currentPath, languages, defaultLang);
const t = tr[lang as keyof typeof tr];
---

<!doctype html>
<html lang={language} dir={textDirection}>
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <Metadata {...metadata} title={title} />
    <Analytics />
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
    <BasicScripts />
  </body>
</html>
