---
import type { Link } from "@/types";
import { Icon } from "astro-icon/components";

const socialLinks: Link[] = [
  { ariaLabel: "X", icon: "tabler:brand-x", href: "#" },
  { ariaLabel: "Instagram", icon: "tabler:brand-instagram", href: "#" },
  { ariaLabel: "Facebook", icon: "tabler:brand-facebook", href: "#" },
  {
    ariaLabel: "Github",
    icon: "tabler:brand-github",
    href: "https://github.com/onwidget/astrowind",
  },
];
---

  {
    socialLinks?.length ? (
      <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
        {socialLinks.map(({ ariaLabel, href, text, icon }) => (
          <li>
            <a
              class="text-white dark:text-gray-400 hover:bg-gray-900 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label={ariaLabel}
              href={href}
            >
              {icon && <Icon name={icon} class="w-5 h-5" />}
              <Fragment set:html={text} />
            </a>
          </li>
        ))}
      </ul>
    ) : (
      ""
    )
  }
